# Packages and functions

In [67]:
import pandas as pd
import janitor  # upon import, functions are registered as part of pandas.
import numpy as np
from janitor import clean_names, remove_empty
from tabulate import tabulate
import unidecode

# Function to apply transformations to non-numeric columns
def transform_columns(df):
    for col in df.select_dtypes(exclude='number').columns:
        df[col] = df[col].apply(
            lambda x: unidecode.unidecode(x.lower()) if isinstance(x, str) else x
        )
    return df

# Get data

In [68]:
# Replace with your actual file paths
file1_path = r"C:\Users\luisf\Dropbox\University of Oregon\BASS\All online demographics 2.4.24.xls"
file2_path = r"C:\Users\luisf\Dropbox\University of Oregon\BASS\bass_results 2.4.24.xls"

# Load the Excel files

demographics_data= pd.read_excel(file1_path)
results_data = pd.read_excel(file2_path)

## Demographics

In [69]:
demographics_data

,ID,QUEST,LANGUAGE,DATCOM,DOB,Age,GENDER,Race,WEIGHT,MOMED,...,ASSIST,METHOD,DISAB,WHAT 1?,SERVICE,WHAT 2?,EVAL,ATRISK,VALID,RELIAB
0,c3820feb-d74e-492d-aaf7-23f28031ed01,18m,1,2018-10-23,2017-04-06,18,2,.,0,4,...,.,.,0,.,0,.,.,.,.,.
1,52dd1350-6b68-4431-a649-6b355947e666,22m,1,2018-10-23,2016-12-09,22,1,10,0,2,...,.,.,0,.,0,.,.,.,.,.
2,52cc352c-2cbf-4d53-8634-c8cf71d76580,42m,1,2018-10-23,2015-05-07,41,2,8,0,2,...,.,.,0,.,0,.,.,.,.,.
3,d84124d4-6d6c-4f0f-9d82-d6a9e243b790,27m,1,2018-10-24,2016-07-22,27,1,2,0,4,...,.,.,0,.,0,.,.,.,.,.
4,e4013cfa-a370-46cd-932b-7dae91a75123,24m,1,2018-10-26,2016-11-17,23,2,6,0,4,...,.,.,0,.,0,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31610,e3292b33-ede7-4d51-96be-88eb6cde7fbf,16m,1,2024-02-04,2022-09-26,16,2,2,0,4,...,.,.,0,.,0,.,.,.,.,.
31611,57b397af-fa9c-4e88-a7fb-5f58bfea02b9,4m,1,2024-02-04,2023-10-04,4,2,6,0,4,...,.,.,0,.,0,.,.,.,.,.
31612,e21b7510-4ca2-460b-8e38-8a7dfb2e7771,24m,1,2024-02-04,2022-01-06,24,1,2,0,4,...,.,.,0,.,0,.,.,.,.,.
31613,589cdc4b-5e4a-431e-951a-bbcc4f769653,12m,1,2024-02-05,2023-02-26,11,2,2,0,4,...,.,.,0,.,0,.,.,.,.,.
31614,0afc4525-38c8-4861-a17a-4e2f6671010d,60m,1,2024-02-05,2018-09-07,64,1,2,0,5,...,.,.,.,.,.,.,.,.,.,.

In [70]:
## Results

In [71]:
list(results_data)

['id',
 'quest',
 'language',
 'datcom',
 'dob',
 'cdob',
 'age_m',
 'initials',
 'state',
 'zipcode',
 'bass1',
 'bass2',
 'bass3',
 'bass3_text',
 'subtotal',
 'bass4',
 'bass4_1',
 'bass4_2',
 'bass4_3',
 'bass4_4',
 'bass4_5',
 'bass4_6',
 'bass4_7',
 'bass4_8',
 'bass4_9',
 'bass4_10',
 'bass4_11',
 'bass4_12',
 'bass4_13',
 'bass4_14',
 'bass4_15',
 'bass4_16',
 'bass4_17',
 'bass4_18',
 'bass4_19',
 'bass4_20',
 'bass4_21',
 'bass4_22',
 'bass4_23',
 'bass4_24',
 'bass4_25',
 'bass4_26',
 'bass4_27',
 'bass4_28',
 'bass4_29',
 'bass5',
 'bass6',
 'bass7',
 'bass8',
 'con',
 'con_text',
 'year2_total',
 'year3_total',
 'year4_total',
 'year5_total',
 'year6_total',
 'lang',
 'langtxt',
 'fdbk1',
 'fdbk1txt',
 'fdbk3',
 'fdbk3txt',
 'fdbk4',
 'fdbk4txt',
 'fdbk6',
 'fdbk6txt']

# Clean data

## Demographics

In [72]:
demographics_data = clean_names(demographics_data)
demographics_data = remove_empty(demographics_data)
demographics_data

,id,quest,language,datcom,dob,age,gender,race,weight,momed,...,assist,method,disab,what_1_,service,what_2_,eval,atrisk,valid,reliab
0,c3820feb-d74e-492d-aaf7-23f28031ed01,18m,1,2018-10-23,2017-04-06,18,2,.,0,4,...,.,.,0,.,0,.,.,.,.,.
1,52dd1350-6b68-4431-a649-6b355947e666,22m,1,2018-10-23,2016-12-09,22,1,10,0,2,...,.,.,0,.,0,.,.,.,.,.
2,52cc352c-2cbf-4d53-8634-c8cf71d76580,42m,1,2018-10-23,2015-05-07,41,2,8,0,2,...,.,.,0,.,0,.,.,.,.,.
3,d84124d4-6d6c-4f0f-9d82-d6a9e243b790,27m,1,2018-10-24,2016-07-22,27,1,2,0,4,...,.,.,0,.,0,.,.,.,.,.
4,e4013cfa-a370-46cd-932b-7dae91a75123,24m,1,2018-10-26,2016-11-17,23,2,6,0,4,...,.,.,0,.,0,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31610,e3292b33-ede7-4d51-96be-88eb6cde7fbf,16m,1,2024-02-04,2022-09-26,16,2,2,0,4,...,.,.,0,.,0,.,.,.,.,.
31611,57b397af-fa9c-4e88-a7fb-5f58bfea02b9,4m,1,2024-02-04,2023-10-04,4,2,6,0,4,...,.,.,0,.,0,.,.,.,.,.
31612,e21b7510-4ca2-460b-8e38-8a7dfb2e7771,24m,1,2024-02-04,2022-01-06,24,1,2,0,4,...,.,.,0,.,0,.,.,.,.,.
31613,589cdc4b-5e4a-431e-951a-bbcc4f769653,12m,1,2024-02-05,2023-02-26,11,2,2,0,4,...,.,.,0,.,0,.,.,.,.,.
31614,0afc4525-38c8-4861-a17a-4e2f6671010d,60m,1,2024-02-05,2018-09-07,64,1,2,0,5,...,.,.,.,.,.,.,.,.,.,.

In [73]:
# Example: Apply transformations to demographics_data
demographics_data = transform_columns(demographics_data)

# Display the transformed DataFrame
demographics_data

,id,quest,language,datcom,dob,age,gender,race,weight,momed,...,assist,method,disab,what_1_,service,what_2_,eval,atrisk,valid,reliab
0,c3820feb-d74e-492d-aaf7-23f28031ed01,18m,1,2018-10-23,2017-04-06,18,2,.,0,4,...,.,.,0,.,0,.,.,.,.,.
1,52dd1350-6b68-4431-a649-6b355947e666,22m,1,2018-10-23,2016-12-09,22,1,10,0,2,...,.,.,0,.,0,.,.,.,.,.
2,52cc352c-2cbf-4d53-8634-c8cf71d76580,42m,1,2018-10-23,2015-05-07,41,2,8,0,2,...,.,.,0,.,0,.,.,.,.,.
3,d84124d4-6d6c-4f0f-9d82-d6a9e243b790,27m,1,2018-10-24,2016-07-22,27,1,2,0,4,...,.,.,0,.,0,.,.,.,.,.
4,e4013cfa-a370-46cd-932b-7dae91a75123,24m,1,2018-10-26,2016-11-17,23,2,6,0,4,...,.,.,0,.,0,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31610,e3292b33-ede7-4d51-96be-88eb6cde7fbf,16m,1,2024-02-04,2022-09-26,16,2,2,0,4,...,.,.,0,.,0,.,.,.,.,.
31611,57b397af-fa9c-4e88-a7fb-5f58bfea02b9,4m,1,2024-02-04,2023-10-04,4,2,6,0,4,...,.,.,0,.,0,.,.,.,.,.
31612,e21b7510-4ca2-460b-8e38-8a7dfb2e7771,24m,1,2024-02-04,2022-01-06,24,1,2,0,4,...,.,.,0,.,0,.,.,.,.,.
31613,589cdc4b-5e4a-431e-951a-bbcc4f769653,12m,1,2024-02-05,2023-02-26,11,2,2,0,4,...,.,.,0,.,0,.,.,.,.,.
31614,0afc4525-38c8-4861-a17a-4e2f6671010d,60m,1,2024-02-05,2018-09-07,64,1,2,0,5,...,.,.,.,.,.,.,.,.,.,.

In [74]:
results_data = clean_names(results_data)
results_data = remove_empty(results_data)
results_data

,id,quest,language,datcom,dob,cdob,age_m,initials,state,zipcode,...,lang,langtxt,fdbk1,fdbk1txt,fdbk3,fdbk3txt,fdbk4,fdbk4txt,fdbk6,fdbk6txt
0,52cc352c-2cbf-4d53-8634-c8cf71d76580,3,1,2018-10-23,2015-05-07,.,41m,H.A.,PA,19152,...,-99,.,-99,.,-99,.,-99,.,-99,.
1,d84124d4-6d6c-4f0f-9d82-d6a9e243b790,2,1,2018-10-24,2016-07-22,.,27m,Adr,.,97401,...,-99,.,-99,.,-99,.,-99,.,-99,.
2,dc4b5924-96df-4330-aa8c-120a772c82e9,4,1,2018-10-30,2014-06-16,.,52m,FB,.,19148,...,-99,.,-99,.,-99,.,-99,.,-99,.
3,5b5e8a7b-b545-4469-a03c-688754bce9f5,4,1,2018-10-30,2014-05-30,.,53m,G.C,Pennslyvania,19147,...,-99,.,-99,.,-99,.,-99,.,-99,.
4,7c864c51-589c-44e2-a6e1-a3de61ba82e9,4,1,2018-11-10,2014-10-26,2014-12-01 00:00:00,48m,Cc,.,97403,...,-99,.,-99,.,-99,.,-99,.,-99,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10634,d0065eb5-d35f-407f-a31e-09b9e028d394,2,1,2024-01-31,2021-04-14,.,33m,ARJ,AL,35594,...,1,.,1,.,1,.,1,.,1,.
10635,d5fd3a9e-9dbc-4b91-8621-93b00aab6660,5,1,2024-01-31,2018-06-06,.,67m,ER,.,78562,...,1,.,3,.,2,.,2,.,1,.
10636,976cee24-6295-4ae0-ae00-b1f1de8d0fb8,2,1,2024-01-31,2021-02-18,.,35m,A,NY,14211,...,0,Home,1,.,1,.,1,.,1,.
10637,81bbdc58-307a-459c-a7c9-b5fb1acd0296,2,1,2024-02-02,2021-10-01,.,28m,VMP,TN,37659,...,1,.,1,.,1,.,1,.,1,.
10638,3c67ab30-1871-488d-9c3c-b1d4bdcc843d,3,1,2024-02-02,2020-12-02,2021-01-02 00:00:00,38m,Ll,.,60031,...,1,.,1,.,1,.,1,.,1,.

In [75]:
# Example: Apply transformations to demographics_data
results_data = transform_columns(results_data)

# Display the transformed DataFrame
results_data

,id,quest,language,datcom,dob,cdob,age_m,initials,state,zipcode,...,lang,langtxt,fdbk1,fdbk1txt,fdbk3,fdbk3txt,fdbk4,fdbk4txt,fdbk6,fdbk6txt
0,52cc352c-2cbf-4d53-8634-c8cf71d76580,3,1,2018-10-23,2015-05-07,.,41m,h.a.,pa,19152,...,-99,.,-99,.,-99,.,-99,.,-99,.
1,d84124d4-6d6c-4f0f-9d82-d6a9e243b790,2,1,2018-10-24,2016-07-22,.,27m,adr,.,97401,...,-99,.,-99,.,-99,.,-99,.,-99,.
2,dc4b5924-96df-4330-aa8c-120a772c82e9,4,1,2018-10-30,2014-06-16,.,52m,fb,.,19148,...,-99,.,-99,.,-99,.,-99,.,-99,.
3,5b5e8a7b-b545-4469-a03c-688754bce9f5,4,1,2018-10-30,2014-05-30,.,53m,g.c,pennslyvania,19147,...,-99,.,-99,.,-99,.,-99,.,-99,.
4,7c864c51-589c-44e2-a6e1-a3de61ba82e9,4,1,2018-11-10,2014-10-26,2014-12-01 00:00:00,48m,cc,.,97403,...,-99,.,-99,.,-99,.,-99,.,-99,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10634,d0065eb5-d35f-407f-a31e-09b9e028d394,2,1,2024-01-31,2021-04-14,.,33m,arj,al,35594,...,1,.,1,.,1,.,1,.,1,.
10635,d5fd3a9e-9dbc-4b91-8621-93b00aab6660,5,1,2024-01-31,2018-06-06,.,67m,er,.,78562,...,1,.,3,.,2,.,2,.,1,.
10636,976cee24-6295-4ae0-ae00-b1f1de8d0fb8,2,1,2024-01-31,2021-02-18,.,35m,a,ny,14211,...,0,home,1,.,1,.,1,.,1,.
10637,81bbdc58-307a-459c-a7c9-b5fb1acd0296,2,1,2024-02-02,2021-10-01,.,28m,vmp,tn,37659,...,1,.,1,.,1,.,1,.,1,.
10638,3c67ab30-1871-488d-9c3c-b1d4bdcc843d,3,1,2024-02-02,2020-12-02,2021-01-02 00:00:00,38m,ll,.,60031,...,1,.,1,.,1,.,1,.,1,.

# Merge

In [76]:
df = pd.merge(results_data, demographics_data, on='id', how='left')
df

,id,quest_x,language_x,datcom_x,dob_x,cdob,age_m,initials,state,zipcode,...,assist,method,disab,what_1_,service,what_2_,eval,atrisk,valid,reliab
0,52cc352c-2cbf-4d53-8634-c8cf71d76580,3,1,2018-10-23,2015-05-07,.,41m,h.a.,pa,19152,...,.,.,0,.,0,.,.,.,.,.
1,d84124d4-6d6c-4f0f-9d82-d6a9e243b790,2,1,2018-10-24,2016-07-22,.,27m,adr,.,97401,...,.,.,0,.,0,.,.,.,.,.
2,dc4b5924-96df-4330-aa8c-120a772c82e9,4,1,2018-10-30,2014-06-16,.,52m,fb,.,19148,...,.,.,0,.,0,.,.,.,.,.
3,5b5e8a7b-b545-4469-a03c-688754bce9f5,4,1,2018-10-30,2014-05-30,.,53m,g.c,pennslyvania,19147,...,.,.,0,.,0,.,.,.,.,.
4,7c864c51-589c-44e2-a6e1-a3de61ba82e9,4,1,2018-11-10,2014-10-26,2014-12-01 00:00:00,48m,cc,.,97403,...,.,.,.,.,0,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10634,d0065eb5-d35f-407f-a31e-09b9e028d394,2,1,2024-01-31,2021-04-14,.,33m,arj,al,35594,...,.,.,0,.,0,.,.,.,.,.
10635,d5fd3a9e-9dbc-4b91-8621-93b00aab6660,5,1,2024-01-31,2018-06-06,.,67m,er,.,78562,...,.,.,0,.,0,.,.,.,.,.
10636,976cee24-6295-4ae0-ae00-b1f1de8d0fb8,2,1,2024-01-31,2021-02-18,.,35m,a,ny,14211,...,.,.,0,.,0,.,.,.,.,.
10637,81bbdc58-307a-459c-a7c9-b5fb1acd0296,2,1,2024-02-02,2021-10-01,.,28m,vmp,tn,37659,...,.,.,0,.,0,.,.,.,.,.
10638,3c67ab30-1871-488d-9c3c-b1d4bdcc843d,3,1,2024-02-02,2020-12-02,2021-01-02 00:00:00,38m,ll,.,60031,...,.,.,0,.,0,.,.,.,.,.

In [77]:
#from ydata_profiling import ProfileReport

In [78]:

# Generate a profile report
#profile = ProfileReport(df, title="DataFrame Summary", explorative=True)

# View the report in the browser
#profile

## Clean

## Remove 99

In [79]:
#df = df.applymap(lambda x: np.nan if x == -99 or x == "." else x)
#df = df.apply(lambda col: col.map(lambda x: np.nan if x == -99 or x == "." else x))
df = df.replace({-99: np.nan, ".": np.nan}).infer_objects(copy=False)
df

C:\Users\luisf\AppData\Local\Temp\ipykernel_40856\2492357989.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({-99: np.nan, ".": np.nan}).infer_objects(copy=False)

,id,quest_x,language_x,datcom_x,dob_x,cdob,age_m,initials,state,zipcode,...,assist,method,disab,what_1_,service,what_2_,eval,atrisk,valid,reliab
0,52cc352c-2cbf-4d53-8634-c8cf71d76580,3,1,2018-10-23,2015-05-07,NaT,41m,h.a.,pa,19152,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,d84124d4-6d6c-4f0f-9d82-d6a9e243b790,2,1,2018-10-24,2016-07-22,NaT,27m,adr,NaN,97401,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,dc4b5924-96df-4330-aa8c-120a772c82e9,4,1,2018-10-30,2014-06-16,NaT,52m,fb,NaN,19148,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,5b5e8a7b-b545-4469-a03c-688754bce9f5,4,1,2018-10-30,2014-05-30,NaT,53m,g.c,pennslyvania,19147,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,7c864c51-589c-44e2-a6e1-a3de61ba82e9,4,1,2018-11-10,2014-10-26,2014-12-01,48m,cc,NaN,97403,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10634,d0065eb5-d35f-407f-a31e-09b9e028d394,2,1,2024-01-31,2021-04-14,NaT,33m,arj,al,35594,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
10635,d5fd3a9e-9dbc-4b91-8621-93b00aab6660,5,1,2024-01-31,2018-06-06,NaT,67m,er,NaN,78562,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
10636,976cee24-6295-4ae0-ae00-b1f1de8d0fb8,2,1,2024-01-31,2021-02-18,NaT,35m,a,ny,14211,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
10637,81bbdc58-307a-459c-a7c9-b5fb1acd0296,2,1,2024-02-02,2021-10-01,NaT,28m,vmp,tn,37659,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
10638,3c67ab30-1871-488d-9c3c-b1d4bdcc843d,3,1,2024-02-02,2020-12-02,2021-01-02,38m,ll,NaN,60031,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

## Rename quest

In [80]:
df.rename(columns={"quest_x": "quest"}, inplace=True)
df["quest"].value_counts()

quest
2    4111
3    2729
4    2294
5     871
6     634
Name: count, dtype: int64

# Creating year

In [81]:
df.rename(columns={"datcom_x": "datcom"}, inplace=True)
df

,id,quest,language_x,datcom,dob_x,cdob,age_m,initials,state,zipcode,...,assist,method,disab,what_1_,service,what_2_,eval,atrisk,valid,reliab
0,52cc352c-2cbf-4d53-8634-c8cf71d76580,3,1,2018-10-23,2015-05-07,NaT,41m,h.a.,pa,19152,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,d84124d4-6d6c-4f0f-9d82-d6a9e243b790,2,1,2018-10-24,2016-07-22,NaT,27m,adr,NaN,97401,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,dc4b5924-96df-4330-aa8c-120a772c82e9,4,1,2018-10-30,2014-06-16,NaT,52m,fb,NaN,19148,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,5b5e8a7b-b545-4469-a03c-688754bce9f5,4,1,2018-10-30,2014-05-30,NaT,53m,g.c,pennslyvania,19147,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,7c864c51-589c-44e2-a6e1-a3de61ba82e9,4,1,2018-11-10,2014-10-26,2014-12-01,48m,cc,NaN,97403,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10634,d0065eb5-d35f-407f-a31e-09b9e028d394,2,1,2024-01-31,2021-04-14,NaT,33m,arj,al,35594,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
10635,d5fd3a9e-9dbc-4b91-8621-93b00aab6660,5,1,2024-01-31,2018-06-06,NaT,67m,er,NaN,78562,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
10636,976cee24-6295-4ae0-ae00-b1f1de8d0fb8,2,1,2024-01-31,2021-02-18,NaT,35m,a,ny,14211,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
10637,81bbdc58-307a-459c-a7c9-b5fb1acd0296,2,1,2024-02-02,2021-10-01,NaT,28m,vmp,tn,37659,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
10638,3c67ab30-1871-488d-9c3c-b1d4bdcc843d,3,1,2024-02-02,2020-12-02,2021-01-02,38m,ll,NaN,60031,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [82]:
# Convert to datetime
df['datcom'] = pd.to_datetime(df['datcom'])

# Extract year and create new column
df['dat_year'] = df['datcom'].dt.year

# Creating versions

In [83]:
df["datcom"] = pd.to_datetime(df["datcom"])
df["datcom"]

0       2018-10-23
1       2018-10-24
2       2018-10-30
3       2018-10-30
4       2018-11-10
           ...
10634   2024-01-31
10635   2024-01-31
10636   2024-01-31
10637   2024-02-02
10638   2024-02-02
Name: datcom, Length: 10639, dtype: datetime64[ns]

In [84]:
# Ensure 'datcom' is in datetime format
df["datcom"] = pd.to_datetime(df["datcom"])

# Define function to assign version based on date conditions
def assign_version(date):
    if date < pd.Timestamp("2022-05-24"):
        return "2.0"  # Before May 24, 2022
    elif date <= pd.Timestamp("2023-07-02"):
        return "3.0 and 4.0"  # May 24, 2022 - July 2, 2023
    elif date <= pd.Timestamp("2023-11-03"):
        return "5.0"  # July 3, 2023 - November 3, 2023
    elif date <= pd.Timestamp("2024-02-02"):
        return "5.1"  # November 4, 2023 - February 2, 2024
    else:
        return "Unknown"  # Future or unexpected dates

# Apply function to create the 'version' column
df["version"] = df["datcom"].apply(assign_version)

# Creating totals

In [85]:
df["bass_inclusion_total"] = df[["bass1", "bass2", "bass3"]].sum(axis=1)

In [86]:
df["quest"].value_counts()

quest
2    4111
3    2729
4    2294
5     871
6     634
Name: count, dtype: int64

In [87]:
# Define the mapping of quest intervals to their respective columns
interval_map = {
    2: ["bass4_1", "bass4_2", "bass4_3", "bass4_4", "bass4_5", "bass4_6", "bass4_7"],
    3: ["bass4_1", "bass4_2", "bass4_3", "bass4_4", "bass4_5", "bass4_6", "bass4_7", "bass4_8", "bass4_9", "bass4_10", "bass4_11"],
    4: ["bass4_1", "bass4_2", "bass4_3", "bass4_4", "bass4_5", "bass4_6", "bass4_7", "bass4_8", "bass4_9", "bass4_10", "bass4_11",
        "bass4_12", "bass4_13", "bass4_14", "bass4_15", "bass4_16", "bass4_17", "bass4_18", "bass4_19", "bass4_20"],
    5: ["bass4_1", "bass4_2", "bass4_3", "bass4_4", "bass4_5", "bass4_6", "bass4_7", "bass4_8", "bass4_9", "bass4_10", "bass4_11",
        "bass4_12", "bass4_13", "bass4_14", "bass4_15", "bass4_16", "bass4_17", "bass4_18", "bass4_19", "bass4_20", "bass4_21", 
        "bass4_22", "bass4_23", "bass4_24"],
    6: ["bass4_1", "bass4_2", "bass4_3", "bass4_4", "bass4_5", "bass4_6", "bass4_7", "bass4_8", "bass4_9", "bass4_10", "bass4_11",
        "bass4_12", "bass4_13", "bass4_14", "bass4_15", "bass4_16", "bass4_17", "bass4_18", "bass4_19", "bass4_20", "bass4_21", 
        "bass4_22", "bass4_23", "bass4_24", "bass4_25"],
}

# Ensure the "quest" column is an integer (important for mapping)
df["quest"] = df["quest"].astype(int)

# Convert all 'bass4_' columns to numeric, forcing errors to NaN (to prevent issues)
for col in df.columns:
    if col.startswith("bass4_"):
        df[col] = pd.to_numeric(df[col], errors="coerce")

# Create the new variable 'bass_phonemes_total' using sum based on the interval
df["bass_phonemes_total"] = df.apply(
    lambda row: row[interval_map[row["quest"]]].sum() if row["quest"] in interval_map else 0, 
    axis=1
)
df["bass_phonemes_total"]

0         7.0
1         6.0
2         0.0
3         0.0
4         0.0
         ...
10634     7.0
10635    24.0
10636     7.0
10637     7.0
10638    11.0
Name: bass_phonemes_total, Length: 10639, dtype: float64

In [88]:
# Create 'bass_phonemes_percentage' - Divide sum by correct denominator
df["bass_phonemes_percentage"] = df.apply(
    lambda row: (row[interval_map[row["quest"]]].sum() / len(interval_map[row["quest"]]) * 100)
    if row["quest"] in interval_map else 0,
    axis=1
)
df["bass_phonemes_percentage"]

0         63.636364
1         85.714286
2          0.000000
3          0.000000
4          0.000000
            ...
10634    100.000000
10635    100.000000
10636    100.000000
10637    100.000000
10638    100.000000
Name: bass_phonemes_percentage, Length: 10639, dtype: float64

In [89]:
for quest in interval_map.keys():
    quest_data = df[df['quest'] == quest]
    corr = quest_data["bass_phonemes_total"].corr(quest_data["bass_phonemes_percentage"]).round(0)
    print(f"Quest {quest} correlation: {corr}")

Quest 2 correlation: 1.0
Quest 3 correlation: 1.0
Quest 4 correlation: 1.0
Quest 5 correlation: 1.0
Quest 6 correlation: 1.0

In [90]:
#print(tabulate(df, headers='keys', tablefmt='psql'))
df

,id,quest,language_x,datcom,dob_x,cdob,age_m,initials,state,zipcode,...,what_2_,eval,atrisk,valid,reliab,dat_year,version,bass_inclusion_total,bass_phonemes_total,bass_phonemes_percentage
0,52cc352c-2cbf-4d53-8634-c8cf71d76580,3,1,2018-10-23,2015-05-07,NaT,41m,h.a.,pa,19152,...,NaN,NaN,NaN,NaN,NaN,2018,2.0,5.0,7.0,63.636364
1,d84124d4-6d6c-4f0f-9d82-d6a9e243b790,2,1,2018-10-24,2016-07-22,NaT,27m,adr,NaN,97401,...,NaN,NaN,NaN,NaN,NaN,2018,2.0,4.0,6.0,85.714286
2,dc4b5924-96df-4330-aa8c-120a772c82e9,4,1,2018-10-30,2014-06-16,NaT,52m,fb,NaN,19148,...,NaN,NaN,NaN,NaN,NaN,2018,2.0,5.0,0.0,0.000000
3,5b5e8a7b-b545-4469-a03c-688754bce9f5,4,1,2018-10-30,2014-05-30,NaT,53m,g.c,pennslyvania,19147,...,NaN,NaN,NaN,NaN,NaN,2018,2.0,5.0,0.0,0.000000
4,7c864c51-589c-44e2-a6e1-a3de61ba82e9,4,1,2018-11-10,2014-10-26,2014-12-01,48m,cc,NaN,97403,...,NaN,NaN,NaN,NaN,NaN,2018,2.0,5.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10634,d0065eb5-d35f-407f-a31e-09b9e028d394,2,1,2024-01-31,2021-04-14,NaT,33m,arj,al,35594,...,NaN,NaN,NaN,NaN,NaN,2024,5.1,5.0,7.0,100.000000
10635,d5fd3a9e-9dbc-4b91-8621-93b00aab6660,5,1,2024-01-31,2018-06-06,NaT,67m,er,NaN,78562,...,NaN,NaN,NaN,NaN,NaN,2024,5.1,5.0,24.0,100.000000
10636,976cee24-6295-4ae0-ae00-b1f1de8d0fb8,2,1,2024-01-31,2021-02-18,NaT,35m,a,ny,14211,...,NaN,NaN,NaN,NaN,NaN,2024,5.1,2.0,7.0,100.000000
10637,81bbdc58-307a-459c-a7c9-b5fb1acd0296,2,1,2024-02-02,2021-10-01,NaT,28m,vmp,tn,37659,...,NaN,NaN,NaN,NaN,NaN,2024,5.1,4.0,7.0,100.000000
10638,3c67ab30-1871-488d-9c3c-b1d4bdcc843d,3,1,2024-02-02,2020-12-02,2021-01-02,38m,ll,NaN,60031,...,NaN,NaN,NaN,NaN,NaN,2024,5.1,3.0,11.0,100.000000

In [91]:
df.to_csv("df.csv", index=False)

# BASS

In [92]:
print(
    [col for col in df.columns if col.startswith("bass")]
)

['bass1', 'bass2', 'bass3', 'bass3_text', 'bass4', 'bass4_1', 'bass4_2', 'bass4_3', 'bass4_4', 'bass4_5', 'bass4_6', 'bass4_7', 'bass4_8', 'bass4_9', 'bass4_10', 'bass4_11', 'bass4_12', 'bass4_13', 'bass4_14', 'bass4_15', 'bass4_16', 'bass4_17', 'bass4_18', 'bass4_19', 'bass4_20', 'bass4_21', 'bass4_22', 'bass4_23', 'bass4_24', 'bass4_25', 'bass4_26', 'bass4_27', 'bass4_28', 'bass4_29', 'bass5', 'bass6', 'bass7', 'bass8', 'bass_inclusion_total', 'bass_phonemes_total', 'bass_phonemes_percentage']

In [93]:
print([col for col in df.columns if col.startswith("bass") and "text" not in col])

['bass1', 'bass2', 'bass3', 'bass4', 'bass4_1', 'bass4_2', 'bass4_3', 'bass4_4', 'bass4_5', 'bass4_6', 'bass4_7', 'bass4_8', 'bass4_9', 'bass4_10', 'bass4_11', 'bass4_12', 'bass4_13', 'bass4_14', 'bass4_15', 'bass4_16', 'bass4_17', 'bass4_18', 'bass4_19', 'bass4_20', 'bass4_21', 'bass4_22', 'bass4_23', 'bass4_24', 'bass4_25', 'bass4_26', 'bass4_27', 'bass4_28', 'bass4_29', 'bass5', 'bass6', 'bass7', 'bass8', 'bass_inclusion_total', 'bass_phonemes_total', 'bass_phonemes_percentage']

In [94]:
from scipy.stats import describe

In [95]:
for col in [col for col in df.columns if col.startswith("bass") and "text" not in col]:
    if pd.api.types.is_numeric_dtype(df[col]):  # Check if the column is numeric
        print(f"Statistics for {col}:")
        print(describe(df[col].dropna()))  # Use dropna() to handle missing values
        print()
    else:
        print(f"Skipping column {col} as it is not numeric.")

Statistics for bass1:
DescribeResult(nobs=10517, minmax=(0.0, 2.0), mean=1.6859370542930494, variance=0.311111647996381, skewness=-1.5962121785676513, kurtosis=1.5663367831264896)

Statistics for bass2:
DescribeResult(nobs=10512, minmax=(0.0, 2.0), mean=1.461472602739726, variance=0.46659655637994385, skewness=-0.8871195399596786, kurtosis=-0.4279225456276272)

Statistics for bass3:
DescribeResult(nobs=10630, minmax=(0.0, 1.0), mean=0.5111947318908748, variance=0.24989818674428313, skewness=-0.04479015535644502, kurtosis=-1.9979938419831447)

Statistics for bass4:
DescribeResult(nobs=8869, minmax=(1.0, 29.0), mean=7.186154019618897, variance=13.280520941994721, skewness=1.8891186089393075, kurtosis=9.547312169246245)

Statistics for bass4_1:
DescribeResult(nobs=10176, minmax=(0.0, 1.0), mean=0.6835691823899371, variance=0.21632361349342477, skewness=-0.7894036771093967, kurtosis=-1.3768418345661633)

Statistics for bass4_2:
DescribeResult(nobs=10176, minmax=(0.0, 1.0), mean=0.6023977987421384, variance=0.23953823034011712, skewness=-0.41846056601578796, kurtosis=-1.8248907546897464)

Statistics for bass4_3:
DescribeResult(nobs=10175, minmax=(0.0, 1.0), mean=0.687960687960688, variance=0.21469187972038373, skewness=-0.8113543233509315, kurtosis=-1.3417041619797523)

Statistics for bass4_4:
DescribeResult(nobs=10167, minmax=(0.0, 1.0), mean=0.49178715451952393, variance=0.24995713431068073, skewness=0.03285581452488544, kurtosis=-1.9989204954519064)

Statistics for bass4_5:
DescribeResult(nobs=10175, minmax=(0.0, 1.0), mean=0.6732186732186732, variance=0.220016914532346, skewness=-0.7386148088102921, kurtosis=-1.4544481642061358)

Statistics for bass4_6:
DescribeResult(nobs=10179, minmax=(0.0, 1.0), mean=0.5743196777679537, variance=0.24450060559722367, skewness=-0.30061813626995937, kurtosis=-1.9096287361455762)

Statistics for bass4_7:
DescribeResult(nobs=10171, minmax=(0.0, 1.0), mean=0.38344312260348046, variance=0.23643774059453554, skewness=0.4794362304500536, kurtosis=-1.7701409009318438)

Statistics for bass4_8:
DescribeResult(nobs=9629, minmax=(0.0, 1.0), mean=0.31031259736213523, variance=0.214040918060027, skewness=0.8200543478113239, kurtosis=-1.3275108666357445)

Statistics for bass4_9:
DescribeResult(nobs=9625, minmax=(0.0, 1.0), mean=0.294025974025974, variance=0.20759626906759077, skewness=0.9041807222811235, kurtosis=-1.1824572214551856)

Statistics for bass4_10:
DescribeResult(nobs=9626, minmax=(0.0, 1.0), mean=0.16548929981300645, variance=0.13811693978159803, skewness=1.8002760172383099, kurtosis=1.2409937382434304)

Statistics for bass4_11:
DescribeResult(nobs=9629, minmax=(0.0, 1.0), mean=0.16242600477723543, variance=0.13605792776572534, skewness=1.830457314691172, kurtosis=1.3505739809064163)

Statistics for bass4_12:
DescribeResult(nobs=9267, minmax=(0.0, 1.0), mean=0.08762274738318765, variance=0.07995362930335115, skewness=2.9169503636130383, kurtosis=6.508599423782236)

Statistics for bass4_13:
DescribeResult(nobs=9267, minmax=(0.0, 1.0), mean=0.09193913887989641, variance=0.08349534358669633, skewness=2.824536835521231, kurtosis=5.978008335216289)

Statistics for bass4_14:
DescribeResult(nobs=9270, minmax=(0.0, 1.0), mean=0.05685005393743258, variance=0.05362390997680149, skewness=3.8275853511303093, kurtosis=12.650409620187336)

Statistics for bass4_15:
DescribeResult(nobs=9266, minmax=(0.0, 1.0), mean=0.05547161666306929, variance=0.052400171509463814, skewness=3.884065754767548, kurtosis=13.085966787358004)

Statistics for bass4_16:
DescribeResult(nobs=9264, minmax=(0.0, 1.0), mean=0.15965025906735753, variance=0.13417653749750383, skewness=1.858405880249857, kurtosis=1.4536724157472447)

Statistics for bass4_17:
DescribeResult(nobs=9270, minmax=(0.0, 1.0), mean=0.10194174757281553, variance=0.09155950464383313, skewness=2.6311665327449965, kurtosis=4.923037323037323)

Statistics for bass4_18:
DescribeResult(nobs=9269, minmax=(0.0, 1.0), mean=0.1002265616571367, variance=0.09019092837942598, skewness=2.6624774056749003, kurtosis=5.0887859357293515)

Statistics for bass4_19:
DescribeResult(nobs=9268, minmax=(0.0, 1.0), mean=0.049956840742339234, variance=0.04746627632850945, skewness=4.131568996995971, kurtosis=15.069862376938286)

Statistics for bass4_20:
DescribeResult(nobs=9266, minmax=(0.0, 1.0), mean=0.05072307360241744, variance=0.04815544041088654, skewness=4.094914772718697, kurtosis=14.76832699582982)

Statistics for bass4_21:
DescribeResult(nobs=8994, minmax=(0.0, 1.0), mean=0.02268178785857238, variance=0.022169789311336733, skewness=6.411820606133948, kurtosis=39.11144348524393)

Statistics for bass4_22:
DescribeResult(nobs=8993, minmax=(0.0, 1.0), mean=0.023462693205826755, variance=0.022914743297772527, skewness=6.2964179894795125, kurtosis=37.64487949824123)

Statistics for bass4_23:
DescribeResult(nobs=8993, minmax=(0.0, 1.0), mean=0.024352273990881797, variance=0.023761883006672247, skewness=6.171619483575883, kurtosis=36.08888705005345)

Statistics for bass4_24:
DescribeResult(nobs=8994, minmax=(0.0, 1.0), mean=0.022125861685568158, variance=0.021638713835713547, skewness=6.497584658303626, kurtosis=40.218606391822654)

Statistics for bass4_25:
DescribeResult(nobs=8922, minmax=(0.0, 1.0), mean=0.016812373907195696, variance=0.016531570890474235, skewness=7.516455272480579, kurtosis=54.49709986320111)

Statistics for bass4_26:
DescribeResult(nobs=8869, minmax=(0.0, 1.0), mean=0.011049723756906077, variance=0.010928859615676951, skewness=9.354740679695912, kurtosis=85.5111731843575)

Statistics for bass4_27:
DescribeResult(nobs=8869, minmax=(0.0, 1.0), mean=0.009809448641334987, variance=0.00971431867029813, skewness=9.947483870950695, kurtosis=96.95243536282419)

Statistics for bass4_28:
DescribeResult(nobs=8869, minmax=(0.0, 1.0), mean=0.010711466907204871, variance=0.010597926324291327, skewness=9.506246482264451, kurtosis=88.36872218156518)

Statistics for bass4_29:
DescribeResult(nobs=8869, minmax=(0.0, 1.0), mean=0.07373999323486301, variance=0.06831010875331521, skewness=3.2620197038285363, kurtosis=8.64077254816561)

Statistics for bass5:
DescribeResult(nobs=6452, minmax=(0.0, 1.0), mean=0.8871667699938004, variance=0.10011740948000103, skewness=-2.447411111807436, kurtosis=3.9898211501985124)

Statistics for bass6:
DescribeResult(nobs=4125, minmax=(0.0, 2.0), mean=0.9098181818181819, variance=0.13153549069746936, skewness=-1.1296555754577855, kurtosis=3.5760348955761616)

Statistics for bass7:
DescribeResult(nobs=3762, minmax=(0.0, 1.0), mean=0.8891547049441786, variance=0.09858482104805172, skewness=-2.479162441419075, kurtosis=4.146246410942994)

Statistics for bass8:
DescribeResult(nobs=399, minmax=(0.0, 2.0), mean=1.1403508771929824, variance=0.5933174645155602, skewness=-0.2451263114862946, kurtosis=-1.276016881233041)

Statistics for bass_inclusion_total:
DescribeResult(nobs=10639, minmax=(0.0, 5.0), mean=3.6213929880627878, variance=2.245062131595874, skewness=-0.8435698253556643, kurtosis=-0.36988287172477774)

Statistics for bass_phonemes_total:
DescribeResult(nobs=10639, minmax=(0.0, 25.0), mean=5.501644891437165, variance=24.568501712201527, skewness=1.3657168577085204, kurtosis=2.6954725662116843)

Statistics for bass_phonemes_percentage:
DescribeResult(nobs=10639, minmax=(0.0, 100.0), mean=52.97180999906819, variance=1469.3796862807374, skewness=-0.3082907483065094, kurtosis=-1.5379215106456507)

In [96]:
from tableone import TableOne
import pandas as pd

# Ensure all columns have a consistent type
df = df.apply(lambda col: col.astype(str) if col.dtypes == object else col)


# Select columns that start with "bass" but do not contain "text"
selected_columns = [col for col in df.columns if col.startswith("bass") and "text" not in col]

# Generate the TableOne summary
table = TableOne(df, columns=selected_columns, missing=True)

# Display the summary
print(table)

C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.0 2.0 2.0 ... 1.0 2.0 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.0 1.0 2.0 ... 1.0 1.0 2.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.0 1.0 1.0 ... 0.0 1.0 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[9.0 6.0 6.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.0 1.0 0.0 ... 1.0 1.0 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.0 1.0 0.0 ... 1.0 1.0 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.0 1.0 0.0 ... 1.0 1.0 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 1.0 0.0 ... 1.0 1.0 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.0 1.0 0.0 ... 1.0 1.0 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.0 1.0 0.0 ... 1.0 1.0 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 1.0 1.0 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.0 0.0 0.0 ... 'None' 'None' 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.0 0.0 0.0 ... 'None' 'None' 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.0 0.0 0.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1.0 'None' 1.0 ... 'None' 'None' 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 1.0 ... 'None' 'None' 1.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)
C:\Users\luisf\AppData\Roaming\Python\Python311\site-packages\tableone\preprocessors.py:123: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['None' 'None' 1.0 ... 'None' 'None' 'None']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:, column] = df[column].fillna(null_value)

                                         Missing      Overall
n                                                       10639
bass1, n (%)                        0.0             503 (4.7)
                                    1.0           2297 (21.6)
                                    2.0           7717 (72.5)
                                    None            122 (1.1)
bass2, n (%)                        0.0           1146 (10.8)
                                    1.0           3369 (31.7)
                                    2.0           5997 (56.4)
                                    None            127 (1.2)
bass3, n (%)                        0.0           5196 (48.8)
                                    1.0           5434 (51.1)
                                    None              9 (0.1)
bass4, n (%)                        1.0             461 (4.3)
                                    10.0          1274 (12.0)
                                    11.0            754 (7.1)
                                    12.0             23 (0.2)
                                    13.0            245 (2.3)
                                    14.0              3 (0.0)
                                    15.0              4 (0.0)
                                    16.0              5 (0.0)
                                    17.0             10 (0.1)
                                    18.0             36 (0.3)
                                    19.0              2 (0.0)
                                    2.0             241 (2.3)
                                    20.0              1 (0.0)
                                    21.0              3 (0.0)
                                    23.0              4 (0.0)
                                    24.0              3 (0.0)
                                    25.0              2 (0.0)
                                    26.0              4 (0.0)
                                    27.0              5 (0.0)
                                    28.0              9 (0.1)
                                    29.0             60 (0.6)
                                    3.0             398 (3.7)
                                    4.0             488 (4.6)
                                    5.0             574 (5.4)
                                    6.0           1992 (18.7)
                                    7.0           1581 (14.9)
                                    8.0             488 (4.6)
                                    9.0             199 (1.9)
                                    None          1770 (16.6)
bass4_1, n (%)                      0.0           3220 (30.3)
                                    1.0           6956 (65.4)
                                    None            463 (4.4)
bass4_2, n (%)                      0.0           4046 (38.0)
                                    1.0           6130 (57.6)
                                    None            463 (4.4)
bass4_3, n (%)                      0.0           3175 (29.8)
                                    1.0           7000 (65.8)
                                    None            464 (4.4)
bass4_4, n (%)                      0.0           5167 (48.6)
                                    1.0           5000 (47.0)
                                    None            472 (4.4)
bass4_5, n (%)                      0.0           3325 (31.3)
                                    1.0           6850 (64.4)
                                    None            464 (4.4)
bass4_6, n (%)                      0.0           4333 (40.7)
                                    1.0           5846 (54.9)
                                    None            460 (4.3)
bass4_7, n (%)                      0.0           6271 (58.9)
                                    1.0           3900 (36.7)
                                    None            468 (4.4)
bass4_8, n (%)                      0.0           6641 (62.4)
                                    1.0           2988 (28.1)
                                    None           1010 (9.5)
bass4_9, n (%)                      0.0           6795 (63.9)
                                    1.0           2830 (26.6)
                                    None           1014 (9.5)
bass4_10, n (%)                     0.0           8033 (75.5)
                                    1.0           1593 (15.0)
                                    None           1013 (9.5)
bass4_11, n (%)                     0.0           8065 (75.8)
                                    1.0           1564 (14.7)
                                    None           1010 (9.5)
bass4_12, n (%)                     0.0           8455 (79.5)
                                    1.0             812 (7.6)
                                    None          1372 (12.9)
bass4_13, n (%)                     0.0           8415 (79.1)
                                    1.0             852 (8.0)
                                    None          1372 (12.9)
bass4_14, n (%)                     0.0           8743 (82.2)
                                    1.0             527 (5.0)
                                    None          1369 (12.9)
bass4_15, n (%)                     0.0           8752 (82.3)
                                    1.0             514 (4.8)
                                    None          1373 (12.9)
bass4_16, n (%)                     0.0           7785 (73.2)
                                    1.0           1479 (13.9)
                                    None          1375 (12.9)
bass4_17, n (%)                     0.0           8325 (78.2)
                                    1.0             945 (8.9)
                                    None          1369 (12.9)
bass4_18, n (%)                     0.0           8340 (78.4)
                                    1.0             929 (8.7)
                                    None          1370 (12.9)
bass4_19, n (%)                     0.0           8805 (82.8)
                                    1.0             463 (4.4)
                                    None          1371 (12.9)
bass4_20, n (%)                     0.0           8796 (82.7)
                                    1.0             470 (4.4)
                                    None          1373 (12.9)
bass4_21, n (%)                     0.0           8790 (82.6)
                                    1.0             204 (1.9)
                                    None          1645 (15.5)
bass4_22, n (%)                     0.0           8782 (82.5)
                                    1.0             211 (2.0)
                                    None          1646 (15.5)
bass4_23, n (%)                     0.0           8774 (82.5)
                                    1.0             219 (2.1)
                                    None          1646 (15.5)
bass4_24, n (%)                     0.0           8795 (82.7)
                                    1.0             199 (1.9)
                                    None          1645 (15.5)
bass4_25, n (%)                     0.0           8772 (82.5)
                                    1.0             150 (1.4)
                                    None          1717 (16.1)
bass4_26, n (%)                     0.0           8771 (82.4)
                                    1.0              98 (0.9)
                                    None          1770 (16.6)
bass4_27, n (%)                     0.0           8782 (82.5)
                                    1.0              87 (0.8)
                                    None          1770 (16.6)
bass4_28, n (%)                     0.0           8774 (82.5)
                                    1.0              95 (0.9)
                                    None          1770 (16.6)
bass4_29, n (%)                     0.0           8215 (77.2)
                                    1.0             654 (6.1)
                                    None          1770 (16.6)
bass5, n (%)                        0.0             728 (6.8)
                                    1.0           5724 (53.8)
                                    None          4187 (39.4)
bass6, n (%)                        0.0             474 (4.5)
                                    1.0           3549 (33.4)
                                    2.0             102 (1.0)
                                    None          6514 (61.2)
bass7, n (%)                        0.0             417 (3.9)
                                    1.0           3345 (31.4)
                                    None          6877 (64.6)
bass8, mean (SD)                           10240    1.1 (0.8)
bass_inclusion_total, n (%)         0.0             497 (4.7)
                                    1.0             613 (5.8)
                                    2.0           1555 (14.6)
                                    3.0           1405 (13.2)
                                    4.0           2255 (21.2)
                                    5.0           4314 (40.5)
bass_phonemes_total, n (%)          0.0           2163 (20.3)
                                    1.0             847 (8.0)
                                    10.0            122 (1.1)
                                    11.0            590 (5.5)
                                    12.0             30 (0.3)
                                    13.0            248 (2.3)
                                    14.0             10 (0.1)
                                    15.0             12 (0.1)
                                    16.0             11 (0.1)
                                    17.0             24 (0.2)
                                    18.0             48 (0.5)
                                    19.0             39 (0.4)
                                    2.0             258 (2.4)
                                    20.0            192 (1.8)
                                    21.0             11 (0.1)
                                    22.0             12 (0.1)
                                    23.0             27 (0.3)
                                    24.0            103 (1.0)
                                    25.0             34 (0.3)
                                    3.0             718 (6.7)
                                    4.0             469 (4.4)
                                    5.0             513 (4.8)
                                    6.0           1937 (18.2)
                                    7.0             950 (8.9)
                                    8.0           1218 (11.4)
                                    9.0              53 (0.5)
bass_phonemes_percentage, mean (SD)            0  53.0 (38.3)